<nav class="navbar navbar-expand-lg navbar-dark menu shadow">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="/assets/images/logo_topo_escura.svg" alt="logo-we-can" class="logo"
                [routerLink]="['/landing-page']">
        </a>
    </div>
</nav>

<div class="container">
    <div class="col-12 text-center">
        <div class="row">
            <h2>Complete seu perfil</h2>
        </div>
    </div>

    <form>
        <div class="row">
            <h5>Dados Pessoais</h5>
        </div>

        <div class="formgrid grid dados-pessoais">
            <div class="field lg:col-12 md:col-12">
                <label for="name">Nome Completo</label>
                <input id="name" type="text" pInputText>
            </div>
            <div class="field lg:col-6 md:col-6">
                <label for="cpf">CPF</label>
                <input id="cpf" type="text" pInputText>
            </div>
            <div class="field lg:col-6 md:col-6">
                <label for="dTNascimento">Data de Nascimento</label>
                <p-inputMask mask="99/99/9999" [(ngModel)]="val3" [ngModelOptions]="{standalone: true}"
                    placeholder="99/99/9999" slotChar="mm/dd/yyyy">
                </p-inputMask>
            </div>
            <div class="field lg:col-6 md:col-6">
                <label for="email" type="text">E-mail</label>
                <input id="email" type="text" pInputText>
            </div>
            <div class="field lg:col-6 md:col-6">
                <label for="telephone" type="text">Telefone</label>
                <p-inputMask mask="(99) 99999-9999" [(ngModel)]="val4" [ngModelOptions]="{standalone: true}"
                    placeholder="(99) 99999-9999"></p-inputMask>

            </div>
        </div>

        <div class="row">
            <h5>Endereço</h5>
        </div>

        <div class="formgrid grid dados-pessoais">
            <div class="field lg:col-3 md:col-3">
                <label for="cep">Cep</label>
                <input id="cep" type="text" pInputText>
            </div>
            <div class="field lg:col-4 md:col-4">
                <label for="address">Endereço</label>
                <input id="address" type="text" pInputText>
            </div>
            <div class="field lg:col-2 md:col-2">
                <label for="numeroAdress">Número</label>
                <input id="numeroAdress" type="number" pInputText>

            </div>
            <div class="field lg:col-3 md:col-3">
                <label for="complement" type="text">Complemento</label>
                <input id="complement" type="text" pInputText>
            </div>

            <div class="field lg:col-4 md:col-4">
                <label for="neighbourhood" type="text">Bairro</label>
                <input id="neighbourhood" type="text" pInputText>
            </div>

            <div class="field lg:col-4 md:col-4">
                <label for="city" type="text">Cidade</label>
                <input id="city" type="text" pInputText>
            </div>

            <div class="field lg:col-4 md:col-4">
                <label for="state" type="text">Estado</label>
                <input id="state" type="text" pInputText>
            </div>
        </div>

        <div class="flex justify-content-center btns-save">
            <button pButton pRipple type="button" label="Salvar cadastro e registrar imóvel depois"
                class="p-button-outlined p-button-warning p-button-save-back"></button>
            <button pButton pRipple type="button" label="Salvar cadastro e registrar imóvel agora"
                class="p-button-warning save-continue" routerLink="/register-immobile"></button>

        </div>
    </form>
</div>

<footer>
    <div class=" bg-footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="assets/images/logo_rodape.svg" alt="">
                </div>

                <div class="col-12">
                    <p>WeCan Imóveis Experience &copy;2022 Todos os direitos reservados</p>
                </div>
            </div>

        </div>
    </div>
</footer>