<div class="container">
    <div class="title-header">
        <i class="pi pi-angle-left"></i>
        <h2>Título do Imóvel</h2>

        <h3>Código</h3>

        <p>Status: Realizada: Aguardando avaliação</p>
    </div>


    <div class="title">
        <h4>Valores</h4>
    </div>

    <div class="row">
        <div class="row columnForm mb-2 mt-2">
            <div class="col-lg-4">
                <div class="grid-templ">
                    <h4>Chaves</h4>
                    <div class="key-number">
                        <img src="assets/images/ic_chave_lista.svg" alt="chave_lista" class="icon-key">
                        <span>0</span>
                    </div>

                    <h4>Valor</h4>
                    <p>R$ 0,00</p>

                </div>
            </div>
        </div>
    </div>


    <!-- Dados do imóvel -->
    <div class="title">
        <h4>Período da troca</h4>
    </div>

    <div class="row">
        <div class="row columnForm mb-2 mt-2">
            <div class="col-lg-4">
                <div class="grid-templ">
                    <h4>Check in</h4>
                    <p>dd/mm/aaaa</p>

                    <h4>Check out</h4>
                    <p>dd/mm/aaaa</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Dados do imóvel -->
    <div class="title">
        <h4>Dados do imóvel</h4>
    </div>

    <div class="row">
        <div class="row columnForm mb-2 mt-2">
            <div class="col-lg-6">
                <div class="grid-templ">
                    <h6>Categoria</h6>
                    <p>Categoria selecionada</p>

                    <h6>Tipo de Imóvel</h6>
                    <p>Tipo de imóvel selecionado</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Localização -->
    <div class="title">
        <h4>Localização</h4>
    </div>

    <div class="row">
        <div class="row columnForm mb-2 mt-2">
            <div class="col-lg-12">

                <div class="grid-template-2">
                    <h6>País</h6>
                    <p>Brasil</p>

                    <h6>CEP</h6>
                    <p>99.999-999</p>

                    <h6>Endereço</h6>
                    <p>Rua Luis Castanhede, 898 - Casa 01 - Bairro Santa Cruz - Belo Horizonte - Minas Gerais</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Detalhes -->
    <div class="title">
        <h4>Detalhes</h4>
    </div>

    <div class="row">
        <div class=" columnForm mt-2">
            <h5>Amenidades</h5>
            <div class="colunas-detalhes">
                <p>Internet</p>
                <p>Churrasqueira</p>
                <p>Condomínio fechado</p>
                <p>Fire place</p>
                <p>Home Theater I (televisor / caixa de som / subwoofer / receiver)</p>
                <p>Jacuzzi</p>
                <p>Lareira</p>
                <p>Vista espetacular</p>
                <p>Sauna</p>
            </div>
            <div class="faixa"></div>
        </div>

        <div class=" columnForm">
            <h5>Serviços</h5>
            <div class="colunas-detalhes">
                <p>Arrumadeira / Cozinheira</p>
                <p>Staff completo</p>
            </div>
            <div class="faixa"></div>
        </div>

        <div class=" columnForm">
            <h5>Lazer</h5>
            <div class="colunas-detalhes">
                <p>Bicicleta elétrica</p>
                <p>Campo de futebol</p>
                <p>Campo de golfe</p>
                <p>Cavalo</p>
                <p>Embarcação</p>
                <p>Gastronomia diferenciada</p>
                <p>Helicóptero</p>
                <p>Prancha de sup</p>
                <p>Prancha de surf</p>
                <p>Quadra de beach tênis</p>
            </div>
            <div class="faixa"></div>
        </div>
    </div>


    <!-- Fotos -->
    <div class="title">
        <h4>Fotos</h4>
    </div>

    <div class="row">
        <div class="row columnForm mb-2 mt-2 ml-2">
            <div class="col-lg-12">
                <div class="photos">
                    <div class="image">
                        <p-image src="https://source.unsplash.com/collection/6780963/1000x1000" alt="Image" width="250"
                            height="175px" [preview]="true"></p-image>

                    </div>
                    <div class="image">
                        <p-image src="https://source.unsplash.com/collection/6780963/1000x1000" alt="Image" width="250"
                            height="175px" [preview]="true"></p-image>
                    </div>
                    <div class="image">
                        <p-image src="https://source.unsplash.com/collection/6780963/1000x1000" alt="Image" width="250"
                            height="175px" [preview]="true"></p-image>
                    </div>
                    <div class="image">
                        <p-image src="https://source.unsplash.com/collection/6780963/1000x1000" alt="Image" width="250"
                            height="175px" [preview]="true"></p-image>
                    </div>
                    <div class="image">
                        <p-image src="https://source.unsplash.com/collection/6780963/1000x1000" alt="Image" width="250"
                            height="175px" [preview]="true"></p-image>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Avaliação -->
    <div class="title">
        <h4>Avaliação</h4>
    </div>
    <div class="row col-12 avaliacao">
        <p>Avalie sua experiência:</p>
        <p-rating [ngModel]="val3" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
        <p>Deseja fazer um comentário?</p>

        <textarea rows="5" pInputTextarea></textarea>

        <div class="row justify-content-lg-center mt-3">
            <button pButton pRipple type="button" label="Salvar comentário"
                class="p-button-secondary p-button-save"></button>
        </div>
    </div>
</div>