.title-header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1.5rem;
    color: #708380;
}

h2 {
    font: normal normal 300 26px/64px Lemon Milk Light;
    color: #708380;
    margin-bottom: 0;
    opacity: 1;
}

h3 {
    font: normal normal 300 20px/64px LEMON MILK Light;
    color: #708380;
    opacity: 1;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}

h4 {
    font: normal normal bold 20px/50px Roboto;
    padding: 0 30px;
    color: #708380;
}

h5 {
    font-family: Roboto;
    font-weight: 500;
    color: #708380;
    padding: 0 30px;
}

h6 {
    font-weight: 400;
    font-family: Roboto;
    color: #708380;
    padding: 0 30px;

}

:host ::ng-deep .pi-angle-left {
    font-size: 2.2rem;
    color: #708380;
    cursor: pointer;
}

p {
    font: normal normal 300 16px/64px Roboto;
    margin-bottom: 0;
    margin-left: 1.5rem;
    color: #708380;
    opacity: 1;
}

.title {
    display: flex;
    justify-content: space-between;
    background: #F5F5F5;
    height: 50px;
    margin-bottom: 1rem;
}

.key-number {
    display: flex;
    align-items: center;
}

.key-number .icon-key {
    width: 50px;
}

.key-number span {
    font: normal normal normal 21px/15px Roboto;
    color: #284641;
}

.columnForm p {
    margin-left: 0;
}

.grid-templ {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.grid-template-2 {
    display: grid;
    grid-template-columns: 163px 1fr;
    align-items: baseline;
}

.grid-template-2 p {
    font: normal normal 300 16px/51px Roboto;
}

.grid-template-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 450px;
    padding: 0 30px;
    grid-template-rows: 1fr 1fr 1fr;
}

.faixa {
    border-bottom: 1px solid #B7C1BF;
    opacity: 1;
    margin: 0rem 2rem 2rem;
}

.colunas-detalhes {
    display: flex;
    flex-wrap: wrap;
}

.colunas-detalhes p {
    padding: 0 28px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.image img {
    width: 240px;
    height: 175px;
}

.avaliacao {
    margin-bottom: 2rem;
}

.avaliacao span {
    color: #0482FF;
    font: normal normal bold 15px/27px Roboto;
}

.avaliacao p {
    margin-left: 0;
}

:host ::ng-deep .p-button-secondary.p-button-outlined {
    width: 12rem;
    border: 2px solid #708380;
    border-radius: 8px;
}

:host ::ng-deep .p-button-secondary.p-button-outlined:enabled:hover {
    border: 2px solid #708380;
}

:host ::ng-deep .p-button-label {
    font: normal normal bold 16px/30px Source Sans Pro;
}

:host ::ng-deep .p-inputtextarea {
    width: 80%;
    margin-left: 1rem;
}

:host ::ng-deep .p-inputtextarea:enabled:hover {
    border-color: #707070;
}

:host ::ng-deep .p-inputtextarea:enabled:focus {
    box-shadow: 0 0 0 0.2rem #cdd0d0a3;
    border-color: #ffffff;
}

:host ::ng-deep .p-button-save {
    width: 11rem;
    border-radius: 8px;
}