<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>Minhas trocas</h2>
        </div>

        <div class="col-lg-4">
            <p-dropdown [options]="status" [(ngModel)]="selectedTypeStatus" ngDefaultControl
                placeholder="Filtrar por status" optionLabel="name" [showClear]="true"></p-dropdown>
        </div>


    </div>

    <p-card>
        <div class="row cardsPanel">
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="assets/images/img-card.png" alt="foto-imovel" class="foto-imovel">
                    </div>
                    <div class="col-lg-6">
                        <h4>Título do Imóvel</h4>
                        <h5>Código</h5>
                        <div class="key-number">
                            <img src="assets/images/ic_chave_lista.svg" alt="chave_lista" class="icon-key">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-4">
                <div class="checkin">
                    <h4>Checkin</h4>
                    <p>dd/mm/aaaa</p>

                    <h4>Checkin</h4>
                    <p>dd/mm/aaaa</p>

                    <h4>Avaliação</h4>
                    <div class="stars">
                        <ngx-star-rating [(ngModel)]="rating3" [id]="'rating3'"></ngx-star-rating>

                        <span class="numberRating">{{ rating3 }}</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="row confirmTroca">
                    <h4>Status</h4>
                    <p>Aguardando confirmação do anfitrião</p>
                </div>

                <div class="row mb-3">

                </div>

                <div class="row">
                    <button pButton pRipple type="button" label="Ver detalhes do imóvel" icon="pi pi-angle-right"
                        iconPos="right" class="p-button-secondary" routerLink="./detalhe-da-troca"></button>
                </div>

            </div>
        </div>

        <div class="row cardsPanel">
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="assets/images/img-card.png" alt="foto-imovel" class="foto-imovel">
                    </div>
                    <div class="col-lg-6">
                        <h4>Título do Imóvel</h4>
                        <h5>Código</h5>
                        <div class="key-number">
                            <img src="assets/images/ic_chave_lista.svg" alt="chave_lista" class="icon-key">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-4">
                <div class="checkin">
                    <h4>Checkin</h4>
                    <p>dd/mm/aaaa</p>

                    <h4>Checkin</h4>
                    <p>dd/mm/aaaa</p>

                    <h4>Avaliação</h4>
                    <div class="stars">
                        <ngx-star-rating [(ngModel)]="rating3" [id]="'rating3'"></ngx-star-rating>

                        <span class="numberRating">{{ rating3 }}</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="row confirmTroca">
                    <h4>Status</h4>
                    <p>Aguardando confirmação do anfitrião</p>
                </div>

                <div class="row mb-3">

                </div>

                <div class="row">
                    <button pButton pRipple type="button" label="Ver detalhes do imóvel" icon="pi pi-angle-right"
                        iconPos="right" class="p-button-secondary"></button>
                </div>

            </div>
        </div>
    </p-card>
</div>