.perfil {
    margin-top: 6rem;
}

.main {
    width: 100%;
    display: flex;
    height: auto;
    padding-top: 0;
}

.column-1 {
    background: #F5F5F5;
    height: 100%;
}

.vertical-menu {
    display: block !important;
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 2rem 1rem;
}

.vertical-menu li {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font: normal normal normal 15px/15px Roboto;
    color: #212121;
    text-align: left;
    padding: 15px 12px;
    cursor: pointer;
}

.vertical-menu li:after {
    display: none;
}

.svg {
    width: 18px;
    height: 20px;
}

.active {
    cursor: pointer;
    filter: invert(64%) sepia(62%) saturate(615%) hue-rotate(2deg) brightness(96%) contrast(88%);
    ;
}

/* Responsive breakpoints */
@media (min-width: 320px) and (max-width: 576px) {
    .main {
        display: grid;
    }

}