<div class=" perfil">
    <div class="main">
        <div class="col-lg-2 col-md-2">
            <div class="column-1">
                <ul class="vertical-menu">
                    <li routerLink="./dados-perfil" routerLinkActive="active">
                        <span class="icon">
                            <img src="/assets/images/ic_perfil.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Perfil
                    </li>
                    <li routerLink="./solicitacoes-troca">
                        <span class="icon">
                            <img src="/assets/images/ic_solicitacoes.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Solicitações de troca
                    </li>
                    <li routerLink="./meus-imoveis">
                        <span class="icon">
                            <img src="/assets/images/ic_imoveis.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Meus imóveis
                    </li>
                    <li routerLink="./minhas-trocas">
                        <span class="icon">
                            <img src="/assets/images/ic_minhas_trocas.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Minhas trocas
                    </li>
                    <li routerLink="./avaliacoes-recebidas">
                        <span class="icon">
                            <img src="/assets/images/ic_avaliacoes.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Avaliações recebidas
                    </li>
                    <li routerLink="./historico">
                        <span class="icon">
                            <img src="/assets/images/ic_historico.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Histórico
                    </li>
                    <li>
                        <span class="icon">
                            <img src="/assets/images/ic_voltar_site.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Voltar para o site
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-10 col-md-10">
            <div class="column-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>