.perfil{
    margin-top: 6rem;
}
.main{
    width: 100%;
    display: flex;
    height: auto;
    padding-top: 0;
}
.vertical-menu {
    display: block !important;
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 2rem 1rem;
}

.vertical-menu li {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font: normal normal normal 16px/15px Roboto;
    color: #212121;
    text-align: left;
    padding: 15px 12px;
    cursor: pointer;
}

.vertical-menu li:after {
    display: none;
}
.svg {
    width: 18px;
    height: 20px;
}
  
.active {
    cursor: pointer;
    filter: invert(64%) sepia(62%) saturate(615%) hue-rotate(2deg) brightness(96%) contrast(88%);;
}
h2{
    font: normal normal 300 25px/53px Lemon Milk Light;
    margin-bottom: 0;
}

h3{
    font: normal normal bold 20px/50px Roboto;
    padding: 0 30px;
    color: #708380;
}

.iconSvg{
    width: 50px;
    height: 45px;
    margin-top: -8px;
}

.balance{
    display: grid;
}
.balance label{
    padding-top: 10px;
}
.mainColumn{
    padding: 2rem 2rem;
}
.column-1{
    background: #F5F5F5;
    height: 100vw;
}
.column-2{
    background-color: #fff;
}

.title{
    display: flex;
    justify-content: space-between;
    background: #F5F5F5;
    height: 50px;
    margin-bottom: 1rem;
}
.title .edit{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
    color: #0482FF;
    font: normal normal normal 15px/64px Roboto;
}
.title .iconEditar{
    width: 25px;
}
:host ::ng-deep .p-inputtext, .p-inputtext-sm, .p-inputmask{
    width: 40%;
}

.columnForm{
    padding: 0 2.5rem;
}
:host ::ng-deep .p-datatable-responsive-scroll>.p-datatable-wrapper{
    padding: 1rem;
}
:host ::ng-deep .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}

:host ::ng-deep .pi-minus{
    color: #EB0000;
    opacity: 1;
}
@media screen and (max-width: 40rem) {
    :host ::ng-deep .p-datatable.p-datatable-responsive-demo .p-datatable-thead > tr > th, :host ::ng-deep .p-datatable.p-datatable-responsive-demo .p-datatable-tfoot > tr > td {
        display: none !important;
   }
    :host ::ng-deep .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td {
        text-align: left;
        display: block;
        width: 100%;
        float: left;
        clear: left;
        border: 0 none;
   }
    :host ::ng-deep .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
        padding: 0.4rem;
        min-width: 30%;
        display: inline-block;
        margin: -0.4em 1em -0.4em -0.4rem;
        font-weight: bold;
   }
    :host ::ng-deep .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td:last-child {
        border-bottom: 1px solid var(--surface-d);
   }
}
