<div class=" perfil">
    <div class="main">
        <div class="col-lg-3 col-md-3">
            <div class="column-1">
                <ul class="vertical-menu">
                    <li (click)="viewMode ='tab1'" [ngClass]="{'active':viewMode =='tab1'}">
                        <span class="icon">
                            <img src="/assets/images/ic_perfil.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Perfil
                    </li>
                    <li (click)="viewMode ='tab2'" [ngClass]="{'active':viewMode =='tab2'}">
                        <span class="icon">
                            <img src="/assets/images/ic_solicitacoes.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Solicitações de troca
                    </li>
                    <li (click)="viewMode ='tab3'" [ngClass]="{'active':viewMode =='tab3'}">
                        <span class="icon">
                            <img src="/assets/images/ic_imoveis.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Meus imóveis
                    </li>
                    <li (click)="viewMode ='tab4'" [ngClass]="{'active':viewMode =='tab4'}">
                        <span class="icon">
                            <img src="/assets/images/ic_minhas_trocas.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Minhas trocas
                    </li>
                    <li (click)="viewMode ='tab5'" [ngClass]="{'active':viewMode =='tab5'}">
                        <span class="icon">
                            <img src="/assets/images/ic_avaliacoes.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Avaliações recebidas
                    </li>
                    <li (click)="viewMode ='tab6'" [ngClass]="{'active':viewMode =='tab6'}">
                        <span class="icon">
                            <img src="/assets/images/ic_historico.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Histórico
                    </li>
                    <li (click)="viewMode ='tab7'" [ngClass]="{'active':viewMode =='tab7'}">
                        <span class="icon">
                            <img src="/assets/images/ic_voltar_site.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Voltar para o site
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-9 col-md-9">
            <div class="column-2" [ngSwitch]="viewMode">
                <div *ngSwitchCase="'tab1'">
                    <div class="row">
                        <div class="col-lg-3">
                            <h2>Perfil</h2>
                        </div>

                        <div class="col-lg-3">
                            <label>Saldo de chaves</label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="93.434" height="93.434" class="iconSvg"
                                viewBox="0 0 93.434 93.434">
                                <path id="ic_landing_credito"
                                    d="M45.422,0a20.659,20.659,0,0,0-20.3,24.429L0,49.551V61.939a4.129,4.129,0,0,0,4.129,4.129H8.259V61.939h8.259V53.681h8.259V45.422h8.259l5.358-5.358A20.648,20.648,0,1,0,45.422,0Zm6.186,20.654A6.194,6.194,0,1,1,57.8,14.461,6.194,6.194,0,0,1,51.608,20.655Z"
                                    transform="translate(46.717 0) rotate(45)" fill="#e3a716" />
                            </svg>


                        </div>

                        <div class="col-lg-3">
                            <label>Chaves Utilizadas</label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="93.434" height="93.434" class="iconSvg"
                                viewBox="0 0 93.434 93.434">
                                <path id="ic_landing_credito"
                                    d="M45.422,0a20.659,20.659,0,0,0-20.3,24.429L0,49.551V61.939a4.129,4.129,0,0,0,4.129,4.129H8.259V61.939h8.259V53.681h8.259V45.422h8.259l5.358-5.358A20.648,20.648,0,1,0,45.422,0Zm6.186,20.654A6.194,6.194,0,1,1,57.8,14.461,6.194,6.194,0,0,1,51.608,20.655Z"
                                    transform="translate(46.717 0) rotate(45)" fill="#E40404" />
                            </svg>

                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat velit saepe
                        repudiandae obcaecati! Hic dicta harum autem odio amet dignissimos doloribus, quae,
                        reprehenderit ratione, ea nulla molestias repellat ut!</p>
                </div>
                <div *ngSwitchCase="'tab2'">
                    <h2>Tabs 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat velit saepe
                        repudiandae obcaecati! Hic dicta harum autem odio amet dignissimos doloribus, quae,
                        reprehenderit ratione, ea nulla molestias repellat ut!</p>
                </div>
                <div *ngSwitchCase="'tab3'">
                    <h2>Tabs 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat velit saepe
                        repudiandae obcaecati! Hic dicta harum autem odio amet dignissimos doloribus, quae,
                        reprehenderit ratione, ea nulla molestias repellat ut!</p>
                </div>
                <div *ngSwitchCase="'tab4'">
                    <h2>Tabs 4</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat velit saepe
                        repudiandae obcaecati! Hic dicta harum autem odio amet dignissimos doloribus, quae,
                        reprehenderit ratione, ea nulla molestias repellat ut!</p>
                </div>
                <div *ngSwitchCase="'tab5'">
                    <h2>Tabs 5</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat velit saepe
                        repudiandae obcaecati! Hic dicta harum autem odio amet dignissimos doloribus, quae,
                        reprehenderit ratione, ea nulla molestias repellat ut!</p>
                </div>
            </div>
        </div>
    </div>
</div>