<div class=" perfil">
    <div class="main">
        <div class="col-lg-3 col-md-3">
            <div class="column-1">
                <ul class="vertical-menu">
                    <li (click)="viewMode ='tab1'" [ngClass]="{'active':viewMode =='tab1'}">
                        <span class="icon">
                            <img src="/assets/images/ic_perfil.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Perfil
                    </li>
                    <li (click)="viewMode ='tab2'" [ngClass]="{'active':viewMode =='tab2'}">
                        <span class="icon">
                            <img src="/assets/images/ic_solicitacoes.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Solicitações de troca
                    </li>
                    <li (click)="viewMode ='tab3'" [ngClass]="{'active':viewMode =='tab3'}">
                        <span class="icon">
                            <img src="/assets/images/ic_imoveis.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Meus imóveis
                    </li>
                    <li (click)="viewMode ='tab4'" [ngClass]="{'active':viewMode =='tab4'}">
                        <span class="icon">
                            <img src="/assets/images/ic_minhas_trocas.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Minhas trocas
                    </li>
                    <li (click)="viewMode ='tab5'" [ngClass]="{'active':viewMode =='tab5'}">
                        <span class="icon">
                            <img src="/assets/images/ic_avaliacoes.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Avaliações recebidas
                    </li>
                    <li (click)="viewMode ='tab6'" [ngClass]="{'active':viewMode =='tab6'}">
                        <span class="icon">
                            <img src="/assets/images/ic_historico.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Histórico
                    </li>
                    <li (click)="viewMode ='tab7'" [ngClass]="{'active':viewMode =='tab7'}">
                        <span class="icon">
                            <img src="/assets/images/ic_voltar_site.svg" alt="" class="svg" routerLinkActive="active">
                        </span>
                        Voltar para o site
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-9 col-md-9">
            <div class="column-2" [ngSwitch]="viewMode">
                <div *ngSwitchCase="'tab1'">
                    <h2>Tabs 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat velit saepe
                        repudiandae obcaecati! Hic dicta harum autem odio amet dignissimos doloribus, quae,
                        reprehenderit ratione, ea nulla molestias repellat ut!</p>
                </div>
                <div *ngSwitchCase="'tab2'">
                    <h2>Tabs 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat velit saepe
                        repudiandae obcaecati! Hic dicta harum autem odio amet dignissimos doloribus, quae,
                        reprehenderit ratione, ea nulla molestias repellat ut!</p>
                </div>
                <div *ngSwitchCase="'tab3'">
                    <h2>Tabs 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat velit saepe
                        repudiandae obcaecati! Hic dicta harum autem odio amet dignissimos doloribus, quae,
                        reprehenderit ratione, ea nulla molestias repellat ut!</p>
                </div>
                <div *ngSwitchCase="'tab4'">
                    <h2>Tabs 4</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat velit saepe
                        repudiandae obcaecati! Hic dicta harum autem odio amet dignissimos doloribus, quae,
                        reprehenderit ratione, ea nulla molestias repellat ut!</p>
                </div>
                <div *ngSwitchCase="'tab5'">
                    <h2>Tabs 5</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat velit saepe
                        repudiandae obcaecati! Hic dicta harum autem odio amet dignissimos doloribus, quae,
                        reprehenderit ratione, ea nulla molestias repellat ut!</p>
                </div>
            </div>
        </div>
    </div>
</div>