<nav class="navbar navbar-expand-lg navbar-dark menu">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="/assets/images/logo_topo_escura.svg" alt="logo-we-can" class="logo"
                [routerLink]="['/landing-page']">
        </a>
    </div>
</nav>

<!-- Aguardando Aprovação -->
<div class="container aguardar-aprovacao">
    <div class="row text-center">
        <h2>Parabéns!!</h2>
        <hr>
    </div>

    <div class="row justify-content-center mt-5 mb-5 message">
        <img src="/assets/images/im_aguardando.svg" alt="" class="logo-aguardando">

        <p>
            Agradecemos o preenchimento de seu cadastro no nosso programa. Retornaremos em breve com novas notícias e o
            resultado da análise de seus dados.
        </p>

        <button pButton pRipple type="button" label="Ok" class="p-button-warning continue" routerLink="/login"></button>
    </div>
</div>



<!-- Cadastro Aprovado -->
<!-- <div class="container aguardar-aprovacao">
    <div class="row text-center">
        <h2>Sensacional!!</h2>
        <hr>
    </div>

    <div class="row justify-content-center mt-5 mb-5 message">
        <img src="/assets/images/im_aprovado.svg" alt="" class="logo-aguardando">

        <p>
            Estamos muito contentes por estarmos juntos nessa nova experiência. Seu cadastro foi aprovado e você é o
            mais novo membro de nosso programa de troca de residências. Seja bem vindo! Estamos prontos a lhe oferecer o
            melhor.
        </p>

        <button pButton pRipple type="button" label="Ok" class="p-button-warning continue"></button>
    </div>
</div> -->


<!-- Cadastro não aprovado -->
<!-- <div class="container aguardar-aprovacao">
    <div class="row text-center">
        <h2>Opa!!</h2>
        <hr>
    </div>

    <div class="row justify-content-center mt-5 mb-5 message">
        <img src="/assets/images/im_recusado.svg" alt="" class="logo-aguardando">

        <p>
            Tivemos alguma inconsistência nas informações fornecidas. Seu cadastro ainda não foi aprovado, faremos novo
            contato com você. Certamente todas as dúvidas e pendências serão dirimidas. Não se preocupe, em breve
            entraremos em contato.
        </p>

        <button pButton pRipple type="button" label="Ok" class="p-button-warning continue" routerLink="/login"></button>
    </div>
</div> -->