.logo {
    width: 23vw;
}

.navbar {
    background-color: var(--navbar-scroll);
    transition: background-color 1s ease;
    color: var(--navbar-scroll-text);
    -webkit-box-shadow: var(--navbar-scroll-shadow);
    box-shadow: var(--navbar-scroll-shadow);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar .navbar-right .nav-item .nav-login {
    font: normal normal bold 15px/24px Roboto;
    color: var(--navbar-scroll-text);
    text-decoration: none;

}

.navbar .container {
    align-items: flex-end;

}

.navbar-brand {
    margin-right: 4rem;
    margin-left: -5.5rem;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-link {
    font: normal normal bold 15px/24px Roboto;
    color: #E3A716;
    padding: 0 0.7rem;
    text-transform: capitalize;
    cursor: pointer;
}

.navbar-nav .nav-item {
    padding: 0 0.7rem;
}

.navbar-right .nav-item:nth-child(3) {
    border: 1px solid #fff;
    padding: 5px 15px;
}

.navbar-nav .navbar-right .nav-item .nav-login {
    color: #fff;
    text-decoration: none;
    font: normal normal bold 15px/24px Roboto;
}


/* Responsive breakpoints */
@media (min-width: 320px) and (max-width: 576px) {
    .navbar-toggler {
        background-color: #5958587d;
    }

    #navbarResponsive {
        margin: 1.5rem;
    }

    .navbar-nav {
        padding-bottom: 0.5rem;
    }

    .navbar .nav-item {
        padding: 0 0 0.5rem;
    }

    .navbar .navbar-brand {
        margin-left: 0;
    }

    .navbar .navbar-brand .logo {
        width: 50vw;
    }
}