<nav class="navbar navbar-expand-lg navbar-dark fixed-top menu shadow">
    <div class="container">
        <a class="navbar-brand" href="">
            <img [src]="logoPath" alt="logo-we-can" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a (click)="onClick('como-funciona')" class="nav-link">Como funciona</a></li>
                <li class="nav-item"><a (click)="onClick('experimente')" class="nav-link">Experimente</a></li>
                <li class="nav-item"><a (click)="onClick('fale-conosco')" class="nav-link">Fale conosco</a></li>

            </ul>
            <ul class="navbar-nav navbar-right ms-auto">
                <li class="nav-item">
                    <a class="nav-login" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-login" [routerLink]="['/register']">Seja membro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>