.navbar{
    box-shadow: none !important;
}
.navbar .navbar-brand .logo{
    width: 24vw;
}
form{
    padding-bottom: 4rem;
}
.form-login h2{
    font: normal normal 300 30px/60px Lemon Milk Light;
    color: #284641;
}
.form-login .campo-form {
    position: relative;
    display: inline-block;
    margin: 20px 10px 10px;
    width: 70%;
}
.form-login .twoColumns{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 17rem ;
}
.form-login .twoColumns input{
    width: 100%;
}
.form-login input {
    font: normal normal bold 15px/20px Roboto;
    padding: 12px;
    border: 1px solid #707070;
    width: 70%;
    border-radius: 3px;
    transition: 1s ease-in-out;
}

.form-login .twoColumns label{
    left: 5%;
    top: 18px;
}

.form-login label {
    font: normal normal normal 15px/20px Roboto;
    position: absolute;
    left: 18%;
    top: 10px;
    color: #284641;
    transition: 0.5s ease;
}
.form-login input:focus {
    border-color: #707070;
    outline: none;
}
.form-login input:focus + label {
    font: normal normal normal 15px/20px Roboto;
    top: -20px;
    color: #284641;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

:host ::ng-deep .p-button-login{
    width: 70%;
    border-radius: 0;
    background: #F5A800;
}
:host ::ng-deep .p-button-login .p-button-label{
    font: normal normal bold 17px/30px Source Sans Pro;
    color: #fff;
}

.campo-form span{
    font: normal normal bold 15px/20px Roboto;
    color: #0370FF;
    cursor: pointer;
}
.campo-form span:first-child{
    font: normal normal normal 15px/27px Roboto;
    color: #000;
    margin-right: 5px;
}

:host ::ng-deep .p-dropdown{
    width: 70%;
}
:host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder{
    text-align: left;
}
.form-check{
    display: flex;
    justify-content: center;
}

.form-check-input{
    width: 1em !important;
    transition: none !important;
    margin-left: 16.2rem;
}
.form-check label{
    font: normal normal normal 15px/15px Roboto;
    position: inherit;
    margin-right: 19.2rem;
    margin-top: 0.5rem;
    transition: none;
}

.form-check label span{
    color: #0370FF;
    font: normal normal bold 15px/18px Roboto;
}


/* Responsive breakpoints */
@media (min-width: 320px) and (max-width: 576px){
    .navbar .navbar-brand .logo{
        width: 100%;
    }
    .form-login .campo-form{
        width: 100%;
    }
    .form-login .campo-form label{
        left: 5rem;
        top: 15px;
    }
}