<nav class="navbar navbar-expand-lg navbar-dark menu shadow">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="/assets/images/logo_topo_escura.svg" alt="logo-we-can" class="logo"
                [routerLink]="['/landing-page']">
        </a>
    </div>
</nav>

<section class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <h2 class="text-center">Seja Membro</h2>
                <div class="faixa"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mx-auto">
                <form id="formWeCan">
                    <div class="row">
                        <div class="field col-xs-12 col-lg-12 mb-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Nome Completo">
                                <label for="floatingInput">Nome Completo</label>
                            </div>
                        </div>

                        <div class="field col-xs-12 col-lg-12 mb-2">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="Nome Completo">
                                <label for="floatingInput">E-mail</label>
                            </div>
                        </div>

                        <div class="field col-xs-12 col-lg-6 mb-2">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingInput"
                                    placeholder="Nome Completo">
                                <label for="floatingInput">Senha</label>
                            </div>
                        </div>

                        <div class="field col-xs-12 col-lg-6 mb-2">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingInput"
                                    placeholder="Nome Completo">
                                <label for="floatingInput">Confirmar senha</label>
                            </div>
                        </div>

                        <div class="field col-xs-12 col-lg-12 mb-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Nome Completo">
                                <label for="floatingInput">Telefone</label>
                            </div>
                        </div>

                        <div class="field col-xs-12 col-lg-12 mb-4">
                            <p-dropdown [options]="cities" [(ngModel)]="selectedCity1"
                                placeholder="País da sua segunda casa" optionLabel="name"
                                [ngModelOptions]="{standalone: true}" [showClear]="true"></p-dropdown>
                        </div>

                        <div class="field col-xs-12 col-lg-12 mb-4">
                            <p-dropdown [options]="cities" [(ngModel)]="selectedCity1"
                                placeholder="Cidade da sua segunda casa" optionLabel="name"
                                [ngModelOptions]="{standalone: true}" [showClear]="true"></p-dropdown>
                        </div>

                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Ao cadastrar-se na We Can, você declara que aceita nossa <span
                                    class="privacy-policy">Política de
                                    Privacidade e Termos de
                                    Uso</span>
                            </label>
                        </div>

                        <div class="field col-xs-12 col-lg-12campo-form">
                            <button pButton pRipple type="button" label="Salvar"
                                class="p-button-outlined p-button-rounded p-button-login"
                                routerLink="/complete-registration"></button>
                        </div>

                        <div class="mb-2 campo-form text-center">
                            <span>Já possui uma conta?</span> <span [routerLink]="['/login']">Clique aqui para
                                entrar.</span>
                        </div>




                    </div>
                </form>
            </div>
        </div>
        <form>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <input type="text" id="name" />
                    <label for="name" class="form-label">Nome Completo</label>
                </div>
            </div> -->
            <!-- <div class="mb-2 campo-form">
                <input type="text" id="name" />
                <label for="name" class="form-label">Nome Completo</label>
            </div>

            <div class="mb-2 campo-form">
                <input type="email" id="inputEmail">
                <label for="email" class="form-label"> E-mail</label>
            </div>

            <div class="mb-2 twoColumns">
                <div class="col">
                    <input type="password" id="inputPassword">
                    <label for="password" class="form-label">Senha</label>
                </div>
                <div class="col">
                    <input type="password" id="inputPasswordConfirm">
                    <label for="password" class="form-label" style="left: 55%;"> Confirmar Senha</label>
                </div>
            </div>
            <div class="mb-2 campo-form">
                <input type="tel" id="inputTel">
                <label for="tel" class="form-label"> Telefone</label>
            </div>

            <div class="mb-2 campo-form">
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" placeholder="País da sua segunda casa"
                    optionLabel="name" [ngModelOptions]="{standalone: true}" [showClear]="true"></p-dropdown>
            </div>

            <div class="mb-2 campo-form">
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" placeholder="Cidade da sua segunda casa"
                    optionLabel="name" [ngModelOptions]="{standalone: true}" [showClear]="true"></p-dropdown>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Ao cadastrar-se na We Can, você declara que aceita nossa <span class="privacy policy">Política de
                        Privacidade e Termos de
                        Uso</span>
                </label>
            </div>

            <div class="mb-2 campo-form">
                <button pButton pRipple type="button" label="Salvar"
                    class="p-button-outlined p-button-rounded p-button-login"
                    routerLink="/complete-registration"></button>
            </div>

            <div class="mb-2 campo-form">
                <span>Já possui uma conta?</span> <span [routerLink]="['/login']">Clique aqui para entrar.</span>
            </div> -->
        </form>

    </div>
</section>