<div class="mainColumn row">
    <div class="col-lg-3">
        <h2>Perfil</h2>
    </div>

    <div class="col-lg-3">
        <div class="balance">
            <label>Saldo de chaves</label>
            <svg xmlns="http://www.w3.org/2000/svg" width="93.434" height="93.434" class="iconSvg"
                viewBox="0 0 93.434 93.434">
                <path id="ic_landing_credito"
                    d="M45.422,0a20.659,20.659,0,0,0-20.3,24.429L0,49.551V61.939a4.129,4.129,0,0,0,4.129,4.129H8.259V61.939h8.259V53.681h8.259V45.422h8.259l5.358-5.358A20.648,20.648,0,1,0,45.422,0Zm6.186,20.654A6.194,6.194,0,1,1,57.8,14.461,6.194,6.194,0,0,1,51.608,20.655Z"
                    transform="translate(46.717 0) rotate(45)" fill="#e3a716" />
            </svg>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="balance">
            <label>Chaves Utilizadas</label>
            <svg xmlns="http://www.w3.org/2000/svg" width="93.434" height="93.434" class="iconSvg"
                viewBox="0 0 93.434 93.434">
                <path id="ic_landing_credito"
                    d="M45.422,0a20.659,20.659,0,0,0-20.3,24.429L0,49.551V61.939a4.129,4.129,0,0,0,4.129,4.129H8.259V61.939h8.259V53.681h8.259V45.422h8.259l5.358-5.358A20.648,20.648,0,1,0,45.422,0Zm6.186,20.654A6.194,6.194,0,1,1,57.8,14.461,6.194,6.194,0,0,1,51.608,20.655Z"
                    transform="translate(46.717 0) rotate(45)" fill="#E40404" />
            </svg>
        </div>
    </div>
</div>


<div class="title">
    <h3>Dados pessoais</h3>
    <div class="edit">
        <span>Editar</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="iconEditar">
            <path
                d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z"
                fill="#0482FF" />
        </svg>
    </div>
</div>

<div class="row">
    <div class="row columnForm mb-2 mt-2">
        <div class="col-lg-3">
            <label for="">Nome completo</label>
        </div>
        <div class="col-lg-9">
            <input type="text" class="p-inputtext-sm" placeholder="Nome do Usuário" pInputText />
        </div>
    </div>

    <!-- Cpf -->
    <div class="row columnForm mb-2 mt-2">
        <div class="col-lg-3">
            <label for="">CPF</label>
        </div>
        <div class="col-lg-9">
            <p-inputMask mask="999.999.999-99" [(ngModel)]="val1" ngDefaultControl placeholder="999.999.999-99">
            </p-inputMask>
        </div>
    </div>

    <!-- Data nasc -->
    <div class="row columnForm mb-2 mt-2">
        <div class="col-lg-3">
            <label for="">Data de nasc.</label>
        </div>
        <div class="col-lg-9">
            <p-inputMask mask="99/99/9999" [(ngModel)]="val3" ngDefaultControl placeholder="99/99/9999"
                slotChar="mm/dd/yyyy"></p-inputMask>
        </div>
    </div>

    <!-- E-mail -->
    <div class="row columnForm mb-2 mt-2">
        <div class="col-lg-3">
            <label for="">E-mail</label>
        </div>
        <div class="col-lg-9">
            <input type="text" class="p-inputtext-sm" placeholder="email@email.com.br" pInputText />
        </div>
    </div>

    <!-- Telefone -->
    <div class="row columnForm mb-2 mt-2">
        <div class="col-lg-3">
            <label for="">Telefone</label>
        </div>
        <div class="col-lg-9">
            <p-inputMask mask="(99) 9999-9999" [(ngModel)]="val4" ngDefaultControl placeholder="(99) 9999-9999">
            </p-inputMask>
        </div>
    </div>
</div>

<!-- Endereço -->

<div class="title">
    <h3>Endereço</h3>
    <div class="edit">
        <span>Editar</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="iconEditar">
            <path
                d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z"
                fill="#0482FF" />
        </svg>
    </div>
</div>

<div class="row">
    <div class="row columnForm mb-2 mt-2">
        <div class="col-lg-3">
            <label for="">País</label>
        </div>
        <div class="col-lg-9">
            <input type="text" class="p-inputtext-sm" placeholder="Brasil" pInputText />
        </div>
    </div>

    <!-- Cpf -->
    <div class="row columnForm mb-2 mt-2">
        <div class="col-lg-3">
            <label for="">CEP</label>
        </div>
        <div class="col-lg-9">
            <p-inputMask mask="99-999-999" [(ngModel)]="val1" ngDefaultControl placeholder="99.9999-999">
            </p-inputMask>
        </div>
    </div>

    <!-- Data nasc -->
    <div class="row columnForm mb-2 mt-2">
        <div class="col-lg-3">
            <label for="">Endereço</label>
        </div>
        <div class="col-lg-9">
            <input type="text" class="p-inputtext-sm"
                placeholder="Rua Luis Castanhede, 898 - Casa 01 - Bairro Santa Cruz - Belo Horizonte - Minas Gerais"
                pInputText />
        </div>
    </div>


</div>



<!-- Extrato -->
<div class="title">
    <h3>Endereço</h3>
</div>
<p-table [value]="itens" [paginator]="true" [rows]="10" styleClass="p-datatable-striped" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of colunas">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-itens>
        <tr>
            <td>{{itens.action}}</td>
            <td>{{itens.howDays}}</td>
            <td>{{itens.period}}</td>
            <td>{{itens.idImmobile}}</td>
            <td>
                <i class="pi pi-minus"></i>
                {{itens.keys}}
            </td>
        </tr>
    </ng-template>
</p-table>