<div class="container">
    <div class="row">
        <h2>Histórico</h2>
        <div class="faixa"></div>
    </div>

    <div class="divider">
        <div class="col-lg-4 col-md-12">
            <section class="imovel grid-template-areas-2">
                <div class="item logo">
                    <img src="assets/images/img-card.png" alt="foto-imovel" class="foto-imovel">
                </div>

                <div class="item content">
                    <h4>Título do Imóvel</h4>
                    <h5>Código</h5>
                </div>

                <div class="item sidenav">
                    <img src="assets/images/ic_chave_lista.svg" alt="chave_lista" class="icon-key">
                    <span>0</span>
                </div>
            </section>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="checkin">
                <h4>Checkin</h4>
                <p>dd/mm/aaaa</p>

                <h4>Checkin</h4>
                <p>dd/mm/aaaa</p>

            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="checkin">
                <h4>Hóspedes</h4>
                <p>Nome do Hóspede</p>

                <h4>Avaliação</h4>
                <div class="cont">
                    <div class="stars">
                        <p-rating [ngModel]="val2" [readonly]="true" [stars]="1" [cancel]="false"></p-rating>

                        <span class="numberRating">{{ val2 }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider">
        <div class="col-lg-4 col-md-12">
            <section class="imovel grid-template-areas-2">
                <div class="item logo">
                    <img src="assets/images/img-card.png" alt="foto-imovel" class="foto-imovel">
                </div>

                <div class="item content">
                    <h4>Título do Imóvel</h4>
                    <h5>Código</h5>
                </div>

                <div class="item sidenav">
                    <img src="assets/images/ic_chave_lista.svg" alt="chave_lista" class="icon-key">
                    <span>0</span>
                </div>
            </section>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="checkin">
                <h4>Checkin</h4>
                <p>dd/mm/aaaa</p>

                <h4>Checkin</h4>
                <p>dd/mm/aaaa</p>

            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="checkin">
                <h4>Hóspedes</h4>
                <p>Nome do Hóspede</p>

                <h4>Avaliação</h4>
                <div class="cont">
                    <div class="stars">
                        <p-rating [ngModel]="val2" [readonly]="true" [stars]="1" [cancel]="false"></p-rating>

                        <span class="numberRating">{{ val2 }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider">
        <div class="col-lg-4 col-md-12">
            <section class="imovel grid-template-areas-2">
                <div class="item logo">
                    <img src="assets/images/img-card.png" alt="foto-imovel" class="foto-imovel">
                </div>

                <div class="item content">
                    <h4>Título do Imóvel</h4>
                    <h5>Código</h5>
                </div>

                <div class="item sidenav">
                    <img src="assets/images/ic_chave_lista.svg" alt="chave_lista" class="icon-key">
                    <span>0</span>
                </div>
            </section>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="checkin">
                <h4>Checkin</h4>
                <p>dd/mm/aaaa</p>

                <h4>Checkin</h4>
                <p>dd/mm/aaaa</p>

            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="checkin">
                <h4>Hóspedes</h4>
                <p>Nome do Hóspede</p>

                <h4>Avaliação</h4>
                <div class="stars">
                    <p-rating [ngModel]="val2" [readonly]="true" [stars]="1" [cancel]="false"></p-rating>

                    <span class="numberRating">{{ val2 }}</span>
                </div>
            </div>
        </div>
    </div>
</div>