<app-navbar-landing></app-navbar-landing>

<!-- Section video -->

<section id="home" class="intro-section">
    <div class="container">

    </div>
</section>

<!-- Section - Como funciona -->

<section id="como-funciona" class="como-funciona">
    <div class="container">
        <div class="row text-center">
            <h2>Como funciona</h2>
        </div>

        <div class="row columns">
            <div class="col-lg-4 col-md-4">
                <div class="mb-2 pb-5">
                    <h3>Avaliação</h3>
                    <p>Seu imóvel avaliado pelo programa</p>
                </div>

                <div class="icone-cols">
                    <span>
                        <img src="assets/images/ic_landing_avaliacao.svg" alt="icone-avaliacao" class="icon-geral">
                    </span>

                </div>

            </div>

            <div class="col-lg-4 col-md-4">
                <div class="mb-2 pb-4">
                    <h3>CRÉDITO</h3>
                    <p>Quanto mais o seu imóvel for utilizado, mais CHAVES você receberá</p>
                </div>

                <div class="icone-cols">
                    <span class="line2">
                        <img src="assets/images/ic_landing_credito.svg" alt="icone-avaliacao" class="icon-geral">
                    </span>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="mb-3 pb-1">
                    <h3>VIAGEM</h3>
                    <p>Com as CHAVES acumuladas, selecione algum imóvel do programa para onde deseja viajar e aproveite
                        a
                        experiência!!</p>
                </div>

                <div class="icone-cols">
                    <img src="assets/images/ic_landing_viagem.svg" alt="icone-avaliacao" class="icon-geral">
                </div>
            </div>
        </div>


        <div class="row columnFunciona">
            <div class="col-12 col-md-6 bloco-1">
                <div class="row caixaIcone">
                    <div class="col-12 col-md-6 ">
                        <h3>Classificação</h3>
                        <p>Nossa moeda é CHAVES, você as receberá conforme a avaliação do imóvel</p>
                    </div>

                    <div class="col-4 col-md-4 bloco-icones">
                        <img src="assets/images/ic_landing_classificacao.svg" alt="" class="icon-geral">
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 bloco-1">
                <div class="row caixaIcone caixaIcone_acesso">
                    <div class="col-4 col-md-4 bloco-icones">
                        <img src="assets/images/ic_landing_acesso.svg" alt="" class="icon-geral">
                    </div>

                    <div class="col-12 col-md-6 ">
                        <h3>Acesso</h3>
                        <p>Você terá acesso a todos os imóveis cadastrados no programa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section - Para entender melhor-->

<section id="para-entender" class="para-entender">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="caixa-btn">
                    <H1>Para entender melhor, assista o vídeo ao lado:</H1>
                </div>
                <div class="col-lg-12 btn-saiba-mais">
                    <button pButton pRipple type="button" label="Saiba mais"
                        class="p-button-outlined p-button-saiba"></button>

                </div>

            </div>

            <div class="col-12 col-md-6">
                <div class="row caixa-video">
                    <img src="assets/images/como-funciona.png" alt="" class="img-video">
                </div>
            </div>
        </div>
    </div>
</section>

<!--Section Experimente-->

<section id="experimente" class="experimente">
    <div class="container">
        <div class="row title">
            <h2>Experimente</h2>
            <h3>"Muito do que somos é onde fomos"</h3>
            <h4>(William Langewiesche)</h4>
        </div>

        <div class="row gallery">
            <img class="big img-big" src="assets/images/im_landing_europa.png" />

            <img class="img-big" src="assets/images/im_landing_montanha.png" />

            <img class="img-big" src="assets/images/im_landing_cosmopolita.png" />

            <img class="img-big" src="assets/images/im_landing_campo.png" />

            <img class="img-big" src="assets/images/im_landing_praia.png" />

            <div class="gallery-button">
                <button pButton pRipple type="button" label="Saiba mais"
                    class="p-button-outlined p-button-gallery-saiba"></button>
            </div>

        </div>
    </div>

</section>

<!-- Section quer entender melhor -->
<section id="fale-conosco" class="fale-conosco">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Quer entender melhor?</h2>
                    <div class="text-form">
                        <span>Envie-nos uma mensagem</span>
                        <span>info@wecabimoveis.com.br | 123-456-7890</span>
                    </div>
                </div>

                <div class="col-12 text-center form">
                    <div class="mb-2 campo-form">
                        <input type="text" id="name" />
                        <label for="name" class="form-label">Nome</label>
                    </div>

                    <div class="mb-2 campo-form">
                        <input type="text" id="email" />
                        <label for="email" class="form-label">Email</label>
                    </div>

                    <div class="mb-2 campo-form">
                        <input type="text" id="assunto" />
                        <label for="assunto" class="form-label">Assunto</label>
                    </div>

                    <div class="mb-2 campo-form">
                        <textarea class="textarea" id="textarea"></textarea>
                        <label class="textarea" for="textarea">Escreva sua mensagem</label>

                        <div class="btn-send">
                            <button pButton pRipple type="button" label="Enviar"
                                class="p-button-outlined p-button-rounded p-button-send"></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>