<nav class="navbar navbar-expand-lg navbar-dark fixed-top menu shadow">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="/assets/images/logo_langing.svg" alt="logo-we-can" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a (click)="onClick('como-funciona')" class="nav-link">Como funciona</a></li>
                <li class="nav-item"><a (click)="onClick('experimente')" class="nav-link">Experimente</a></li>
                <li class="nav-item"><a (click)="onClick('fale-conosco')" class="nav-link">Fale conosco</a></li>

            </ul>
            <ul class="navbar-nav navbar-right ms-auto">
                <li class="nav-item">
                    <a class="nav-login" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-login" [routerLink]="['/register']">Seja membro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Section video -->

<section id="home" class="intro-section">
    <div class="container">

    </div>
</section>

<!-- Section - Como funciona -->

<section id="como-funciona" class="como-funciona">
    <div class="container">
        <div class="row text-center">
            <h2>Como funciona</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3>Avaliação</h3>
                <p>Seu imóvel avaliado pelo programa</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3>CRÉDITO</h3>
                <p>Quanto mais o seu imóvel for utilizado, mais CHAVES você receberá</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3>VIAGEM</h3>
                <p>Com as CHAVES acumuladas, selecione algum imóvel do programa para onde deseja viajar e aproveite a
                    experiência!!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-12 ">
                <div class="icone-cols">
                    <img src="assets/images/ic_landing_avaliacao.svg" alt="icone-avaliacao" class="icon-geral">

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="icone-cols">
                    <img src="assets/images/ic_landing_credito.svg" alt="icone-avaliacao" class="icon-geral">

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="icone-cols">
                    <img src="assets/images/ic_landing_viagem.svg" alt="icone-avaliacao" class="icon-geral">
                </div>
            </div>
        </div>

        <div class="row columnFunciona">
            <div class="col-12 col-md-6 bloco-1">
                <div class="row caixaIcone">
                    <div class="col-6 col-md-6 ">
                        <h3>Classificação</h3>
                        <p>Nossa moeda é CHAVES, você as receberá conforme a avaliação do imóvel</p>
                    </div>

                    <div class="col-4 col-md-4 bloco-icones">
                        <img src="assets/images/ic_landing_classificacao.svg" alt="" class="icon-geral">
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 bloco-1">
                <div class="row caixaIcone">
                    <div class="col-4 col-md-4 bloco-icones">
                        <img src="assets/images/ic_landing_classificacao.svg" alt="" class="icon-geral">
                    </div>

                    <div class="col-6 col-md-6 ">
                        <h3>Classificação</h3>
                        <p>Nossa moeda é CHAVES, você as receberá conforme a avaliação do imóvel</p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-12 col-md-6 col-offset-1 bloco-2">
                <div class="row caixaIcone">
                    <div class="col-6 col-md-6 bloco-icones">
                        <img src="assets/images/ic_landing_acesso.svg" alt="" class="icon-geral">
                    </div>

                    <div class="col-4 col-md-4">
                        <h3>Acesso</h3>
                        <p>Você terá acesso a todos os imóveis cadastrados no programa</p>
                    </div>
                </div>


            </div> -->
        </div>
    </div>
</section>

<!-- Section - Para entender melhor-->

<section id="para-entender" class="para-entender">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="caixa-btn">
                    <h2>Para entender melhor, assista o vídeo ao lado:</h2>
                </div>
                <div class="col-lg-12 btn-saiba-mais">
                    <button pButton pRipple type="button" label="Saiba mais"
                        class="p-button-outlined p-button-saiba"></button>

                </div>

            </div>

            <div class="col-12 col-md-6">
                <div class="row caixa-video">
                    <img src="assets/images/como-funciona.png" alt="" class="img-video">
                </div>
            </div>
        </div>
    </div>
</section>

<!--Section Experimente-->

<section id="experimente" class="experimente">
    <div class="container">
        <div class="row title">
            <h2>Experimente</h2>
            <h3>"Muito do que somos é onde fomos"</h3>
            <h4>(William Langewiesche)</h4>
        </div>

        <div class="row gallery">
            <img class="big img-big" src="assets/images/im_landing_europa.png" />

            <img class="img-big" src="assets/images/im_landing_montanha.png" />

            <img class="img-big" src="assets/images/im_landing_cosmopolita.png" />

            <img class="img-big" src="assets/images/im_landing_campo.png" />

            <img class="img-big" src="assets/images/im_landing_praia.png" />

            <div class="gallery-button">
                <button pButton pRipple type="button" label="Saiba mais"
                    class="p-button-outlined p-button-gallery-saiba"></button>
            </div>

        </div>
    </div>

</section>

<!-- Section quer entender melhor -->
<section id="fale-conosco" class="fale-conosco">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Quer entender melhor?</h2>
                    <div class="text-form">
                        <span>Envie-nos uma mensagem</span>
                        <span>info@wecabimoveis.com.br | 123-456-7890</span>
                    </div>
                </div>

                <div class="col-12 text-center form">
                    <div class="mb-2 campo-form">
                        <input type="text" id="name" />
                        <label for="name" class="form-label">Nome</label>
                    </div>

                    <div class="mb-2 campo-form">
                        <input type="text" id="email" />
                        <label for="email" class="form-label">Email</label>
                    </div>

                    <div class="mb-2 campo-form">
                        <input type="text" id="assunto" />
                        <label for="assunto" class="form-label">Assunto</label>
                    </div>

                    <div class="mb-2 campo-form">
                        <textarea class="textarea" id="textarea"></textarea>
                        <label class="textarea" for="textarea">Escreva sua mensagem</label>

                        <div class="btn-send">
                            <button pButton pRipple type="button" label="Enviar"
                                class="p-button-outlined p-button-rounded p-button-send"></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->

<footer id="fale-conosco">
    <div class=" bg-footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="assets/images/logo_rodape.svg" alt="">
                </div>

                <div class="col-12">
                    <p>WeCan Imóveis Experience &copy;2022 Todos os direitos reservados</p>
                </div>
            </div>

        </div>
    </div>
</footer>