.intro-section{
    background-image: url(/assets/images/imagem_site.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    padding-top: calc(29rem + 46px);
    padding-bottom: 23rem;
    position: relative;
    overflow: hidden;
}

.flex-form {
    display: flex;
    border: 20px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: -8.5rem;
  }
  
input[type=search] {
    flex-basis: 260px;
}
::placeholder, select{
    font: normal normal normal 15px/40px Roboto;
    color: #708380;
}

#collapseBasic{
    position: absolute;
    z-index: 1;
    margin-left: 49rem;
    top: 53.2%;
    left: 0;
    max-height: calc(100vh - 150px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px 32px;
    border-radius: 8px;
    width: 27rem;
}
.stteped{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E3A716;
    opacity: 1;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 4px;
    min-width: 325px;
}
.stteped .stteped-label .title{
    font: normal normal normal 16px/30px Roboto;
    color: #284641;
    opacity: 1;
    line-height: 0;
}

.stteped .stteped-label .subtitle{
    font: normal normal normal 12px/40px Roboto;
}

:host ::ng-deep .btn-search{
    background: #E3A716 !important;
    width: 115px !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    color: #fff !important;
}
  
.input-stepper {
    display: inline-flex;
    align-items: center;
    height: 32px;
}
  
.input-stepper button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #708380;
    background: #fff;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.bi-dash, .bi-plus{
    margin-top: -25px;
}
  
.input-stepper button[disabled] {
    cursor: not-allowed;
    opacity: .4;
}
  
.input-stepper button i {
     color: #07c;
}
  
.input-stepper input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-size: 20px;
    text-align: center;
    width: 36px;
}


.flex-form > * {
    width: 23rem;
    border: 0;
    padding: 10px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 0;
    outline: 0;
    background: #fff;
    margin-left: 1px;
    cursor: pointer;
}
  
.flex-form input[type=submit] {
    background: #E3A716;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


:host ::ng-deep .cardsPanel{
    margin-top: 3rem;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    border-radius: 13px;
}

:host ::ng-deep .cardsPanel h4{
    font: normal normal 300 20px/50px Lemon Milk Light;
}
:host ::ng-deep .cardsPanel h5{
    font: normal normal 300 15px/40px Lemon Milk Light;
}
:host ::ng-deep .cardsPanel p {
    margin-bottom: 0;
    font: normal normal normal 15px/25px Roboto;
    color: #708380;
}
:host ::ng-deep .cardsPanel .p-card-body{
    padding: 0rem 1rem 0 0rem;
}
:host ::ng-deep .p-card-content{
    padding: 0rem 0rem 0rem;
}

.cards .foto-imovel{
    width: 297px;
    height: 205px;
}

.cards-imoveis{
    margin-bottom: 2.5rem;
}
.cards-imoveis .icon-key{
    width: 95px;
    height: 95px;
}

.cards-imoveis .key-number{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font: normal normal normal 30px/25px Roboto;
}

.cards-imoveis .verMais{
    width: 150px;
    height: 45px;
    background: #F5A800;
    color: #fff;
    font: normal normal bold 16px/65px Source Sans Pro;
}

.cards-imoveis .columnButton{
    text-align: end;
}

:host ::ng-deep .pi-angle-double-left::before{
    /* color: red; */
    content: "";
    background-image: url("/assets/images/Icon_awesome-step-backward.svg");
    position: absolute;
    left: 17px;
    top: 11px;
    height: 17px;
    width: 13px;
}

:host ::ng-deep .pi-angle-double-right:before{
    content: "";
    background-image: url("/assets/images/Icon_awesome-step-backward-1.svg");
    position: absolute;
    left: 17px;
    top: 11px;
    height: 17px;
    width: 13px;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
    background: #F5A800;
    color: #fff;
    min-width: 30px;
    height: 31px;
    border-radius: 8px;
}

