<!-- Seção dos inputs entrará aqui -->
<section id="home" class="intro-section">
    <div class="container">

    </div>
</section>


<!-- Seção dos cards -->
<section class="container cards-imoveis">
    <p-card [style]="{ 'margin-bottom': '2em'}" styleClass="cardsPanel">
        <div class="row cardDescription">
            <div class="col">
                <img src="assets/images/img-card.png" alt="foto-imovel" class="foto-imovel">
            </div>

            <div class="col">
                <h4>Título do Imóvel</h4>
                <h5>Código</h5>
                <p>Campo - Localização - 00 quartos
                    - 00 suítes - 00 hóspedes -
                </p>
            </div>
            <div class="col">
                <h5>Descrição</h5>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus accumsan, ex in mattis
                    hendrerit, orci libero pretium libero, nec maximus
                    neque tortor sit amet arcu. Donec risus ipsum,
                    maximus nec quam...</p>
            </div>
            <div class="col">
                <div class="key-number">
                    <img src="assets/images/ic_chave_lista.svg" alt="chave_lista" class="icon-key">
                    <span>0</span>
                </div>
                <div class=" columnButton">
                    <button pButton pRipple type="button" label="Veja mais" icon="pi pi-angle-right" iconPos="right"
                        class="p-button-warning verMais" routerLink="/lista-resultados"></button>

                </div>
            </div>
        </div>
    </p-card>

    <p-card [style]="{ 'margin-bottom': '2em'}" styleClass="cardsPanel">
        <div class="row cardDescription">
            <div class="col">
                <img src="assets/images/img-card.png" alt="foto-imovel" class="foto-imovel">
            </div>

            <div class="col">
                <h4>Título do Imóvel</h4>
                <h5>Código</h5>
                <p>Campo - Localização - 00 quartos
                    - 00 suítes - 00 hóspedes -
                </p>
            </div>
            <div class="col">
                <h5>Descrição</h5>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus accumsan, ex in mattis
                    hendrerit, orci libero pretium libero, nec maximus
                    neque tortor sit amet arcu. Donec risus ipsum,
                    maximus nec quam...</p>
            </div>
            <div class="col">
                <div class="key-number">
                    <img src="assets/images/ic_chave_lista.svg" alt="chave_lista" class="icon-key">
                    <span>0</span>
                </div>
                <div class=" columnButton">
                    <button pButton pRipple type="button" label="Veja mais" icon="pi pi-angle-right" iconPos="right"
                        class="p-button-warning verMais" routerLink="/lista-resultados"></button>

                </div>
            </div>
        </div>
    </p-card>

    <p-card [style]="{ 'margin-bottom': '2em'}" styleClass="cardsPanel">
        <div class="row cardDescription">
            <div class="col">
                <img src="assets/images/img-card.png" alt="foto-imovel" class="foto-imovel">
            </div>

            <div class="col">
                <h4>Título do Imóvel</h4>
                <h5>Código</h5>
                <p>Campo - Localização - 00 quartos
                    - 00 suítes - 00 hóspedes -
                </p>
            </div>
            <div class="col">
                <h5>Descrição</h5>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus accumsan, ex in mattis
                    hendrerit, orci libero pretium libero, nec maximus
                    neque tortor sit amet arcu. Donec risus ipsum,
                    maximus nec quam...</p>
            </div>
            <div class="col">
                <div class="key-number">
                    <img src="assets/images/ic_chave_lista.svg" alt="chave_lista" class="icon-key">
                    <span>0</span>
                </div>
                <div class=" columnButton">
                    <button pButton pRipple type="button" label="Veja mais" icon="pi pi-angle-right" iconPos="right"
                        class="p-button-warning verMais"></button>

                </div>
            </div>
        </div>
    </p-card>

    <p-paginator [rows]="10" [totalRecords]="120"></p-paginator>
</section>