<!-- Seção dos inputs entrará aqui -->
<section id="home" class="intro-section">
    <div class="container">
        <form class="flex-form">

            <input type="search" placeholder="Para onde?" />
            <input type="text" placeholder="Qual imóvel você prefere?" />

            <input type="text" placeholder="Quando quer viajar?" class="form-control" bsDaterangepicker
                [bsConfig]="{ isAnimated: true }">

            <button type="button" class="btn search-input" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Quantos hóspedes serão?
            </button>

            <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
                <div class="stteped">
                    <div class="stteped-label">
                        <div class="title">
                            Adultos
                        </div>
                        <div class="subtitle">
                            13 anos ou mais
                        </div>
                    </div>

                    <div>
                        <div class="input-stepper">
                            <button class="minus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-dash" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                            </button>
                            <input type="text" value="0" />
                            <button class="plus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="stteped">
                    <div class="stteped-label">
                        <div class="title">
                            Crianças
                        </div>
                        <div class="subtitle">
                            Idade 2 - 12
                        </div>
                    </div>

                    <div>
                        <div class="input-stepper">
                            <button class="minus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-dash" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                            </button>
                            <input type="text" value="0" />
                            <button class="plus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="stteped">
                    <div class="stteped-label">
                        <div class="title">
                            Bebês
                        </div>
                        <div class="subtitle">
                            Menor de 2
                        </div>
                    </div>

                    <div>
                        <div class="input-stepper">
                            <button class="minus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-dash" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                            </button>
                            <input type="text" value="0" />
                            <button class="plus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="stteped">
                    <div class="stteped-label">
                        <div class="title">
                            Animais de estimação
                        </div>
                        <div class="subtitle">
                            Vai levar algum animal de assistência?
                        </div>
                    </div>

                    <div>
                        <div class="input-stepper">
                            <button class="minus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-dash" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                            </button>
                            <input type="text" value="0" />
                            <button class="plus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <button pButton pRipple type="submit" icon="pi pi-search" class="p-button-warning btn-search"></button>


        </form>

    </div>
</section>


<!-- Seção dos cards -->
<section class="container cards-imoveis">
    <p-card [style]="{ 'margin-bottom': '2em'}" styleClass="cardsPanel">
        <div class="row cardDescription">
            <div class="col">
                <img src="assets/images/img-card.png" alt="foto-imovel" class="foto-imovel">
            </div>

            <div class="col">
                <h4>Título do Imóvel</h4>
                <h5>Código</h5>
                <p>Campo - Localização - 00 quartos
                    - 00 suítes - 00 hóspedes -
                </p>
            </div>
            <div class="col">
                <h5>Descrição</h5>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus accumsan, ex in mattis
                    hendrerit, orci libero pretium libero, nec maximus
                    neque tortor sit amet arcu. Donec risus ipsum,
                    maximus nec quam...</p>
            </div>
            <div class="col">
                <div class="key-number">
                    <img src="assets/images/ic_chave_lista.svg" alt="chave_lista" class="icon-key">
                    <span>0</span>
                </div>
                <div class=" columnButton">
                    <button pButton pRipple type="button" label="Veja mais" icon="pi pi-angle-right" iconPos="right"
                        class="p-button-warning p-button-verMais" routerLink="/lista-resultados"></button>

                </div>
            </div>
        </div>
    </p-card>

    <p-card [style]="{ 'margin-bottom': '2em'}" styleClass="cardsPanel">
        <div class="row cardDescription">
            <div class="col">
                <img src="assets/images/img-card.png" alt="foto-imovel" class="foto-imovel">
            </div>

            <div class="col">
                <h4>Título do Imóvel</h4>
                <h5>Código</h5>
                <p>Campo - Localização - 00 quartos
                    - 00 suítes - 00 hóspedes -
                </p>
            </div>
            <div class="col">
                <h5>Descrição</h5>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus accumsan, ex in mattis
                    hendrerit, orci libero pretium libero, nec maximus
                    neque tortor sit amet arcu. Donec risus ipsum,
                    maximus nec quam...</p>
            </div>
            <div class="col">
                <div class="key-number">
                    <img src="assets/images/ic_chave_lista.svg" alt="chave_lista" class="icon-key">
                    <span>0</span>
                </div>
                <div class=" columnButton">
                    <button pButton pRipple type="button" label="Veja mais" icon="pi pi-angle-right" iconPos="right"
                        class="p-button-warning p-button-verMais" routerLink="/lista-resultados"></button>

                </div>
            </div>
        </div>
    </p-card>

    <p-card [style]="{ 'margin-bottom': '2em'}" styleClass="cardsPanel">
        <div class="row cardDescription">
            <div class="col">
                <img src="assets/images/img-card.png" alt="foto-imovel" class="foto-imovel">
            </div>

            <div class="col">
                <h4>Título do Imóvel</h4>
                <h5>Código</h5>
                <p>Campo - Localização - 00 quartos
                    - 00 suítes - 00 hóspedes -
                </p>
            </div>
            <div class="col">
                <h5>Descrição</h5>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus accumsan, ex in mattis
                    hendrerit, orci libero pretium libero, nec maximus
                    neque tortor sit amet arcu. Donec risus ipsum,
                    maximus nec quam...</p>
            </div>
            <div class="col">
                <div class="key-number">
                    <img src="assets/images/ic_chave_lista.svg" alt="chave_lista" class="icon-key">
                    <span>0</span>
                </div>
                <div class=" columnButton">
                    <button pButton pRipple type="button" label="Veja mais" icon="pi pi-angle-right" iconPos="right"
                        class="p-button-warning p-button-verMais"></button>

                </div>
            </div>
        </div>
    </p-card>

    <p-paginator [rows]="10" [totalRecords]="120"></p-paginator>
</section>