.gird-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    color: white;
   
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.gird-item:hover {
    filter: opacity(0.9);
    transform: scale(1.00);
}
   
   /*-------------Gird style----------*/
   
.gird-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap:1px; 
    padding: 10px;
    grid-auto-flow: dense; 
}
   
.text{
    position: absolute;
    color: white;
    z-index: 3;
    text-align: center;
    margin-top: 20%;
    
    margin-left: 35px;
}
.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}


h2{
    font: normal normal 300 30px/60px Lemon Milk Light;
    color: #284641;
}
h3{
    font: normal normal bold 28px/75px Roboto;
}
h4{
    font: normal normal 300 22px/60px Lemon Milk Light;
}
p{
    font: normal normal normal 16px/28px Roboto;
    color: #708380;
}
h6{
    font: normal normal bold 17px/20px Roboto;
}

.details-panel{
    display: flex;
}
.dados .borderColumn{
    border-bottom: 1px solid #E3A716;
}

.details-panel .header{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.details-panel .icon-key{
    width: 4vw;
}

.details-panel .booking{
    display: flex;
    position: -webkit-sticky;
    position: sticky;
}
.form {
    width: 100%;
    padding: 29px;
    background: #e8ecf0;
    border-radius: 10px;
}
.form .date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr;
}
.form .date .wrap {
    grid-area: 2/1/3/3;
}
.form .rooms {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px 1fr;
}
.form .rooms .wrap {
    grid-area: 0.1666666667;
}
.form h1 {
    margin-bottom: 31px;
}
.form p {
    margin: 0 10px 12px;
    color: rgba(0, 0, 0, 0.5);
}
.form .wrap {
    width: 100%;
    height: 70px;
    padding: 0 10px;
    background-color: #fff;
    margin-bottom: 27px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.08);
}
.form .wrap input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1.1em;
}
.form .wrap input[type="number"] {
    -moz-appearance: textfield;
}
.form .wrap .checkOut, .form .wrap .adults, .form .wrap .kids {
    padding-left: 10px;
    border-left: 2px solid #f4f4f5;
}
.form .show-properties {
    position: absolute;
    text-align: center;
    width: 379px;
    height: 93px;
    background: #ff455b;
    border-radius: 10px;
    z-index: -1;
}
.form .show-properties p {
    margin-top: 40px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}
.dados .columnImg{
    display: flex;
    align-items: center;
    gap: 20px;
}
.dados .iconImg{
    width: 50px;
}

.avaliacao{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.avaliacao span{
    font: normal normal normal 25px/8px Roboto;
    text-decoration: underline;
}

.stars{
    display: flex;
    align-items: center;
   
}
.stars .numberRating{
    font: normal normal normal 25px/8px Roboto;
    margin-inline-start: 0.5rem;
    text-decoration: none;
}
.cont {
    padding: 1.1rem 0 1.2rem 0rem;
}

:host ::ng-deep label.star{
    cursor: pointer;
}
:host ::ng-deep input.star:checked ~ label.star:before{
    color: #E3A716 !important;
}

.columnImg .month p{
    margin-bottom: 0;
    font-size: 14px;
    color: #708380

}
.columnImg .month p:first-child{
    font: normal normal bold 15px/15px Roboto;
    color: #284641;
}

.comments{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
