.title-header{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1.5rem;
    color: #708380;
}
h2{
    font: normal normal 300 26px/64px Lemon Milk Light;
    color: #708380;
    margin-bottom: 0;
    opacity: 1;
}

h3{
    font: normal normal 300 20px/64px LEMON MILK Light;
    color: #708380;
    opacity: 1;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}
h4{
    font: normal normal bold 20px/50px Roboto;
    padding: 0 30px;
    color: #708380;
}
h5{
    font-family: Roboto;
    font-weight: 500;
    color: #708380;
    padding: 0 30px;
    margin-bottom: 1.5rem;
}
h6{
    font-weight: 500;
    font-family: Roboto;
    color: #708380;
    padding: 0 30px;
}

:host ::ng-deep .pi-angle-left{
    font-size: 2.2rem;
    color: #708380;
}
.calendario{
    padding: 0 30px;
}
.ocupacao-calendario{
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    padding: 0 30px;

}
.title{
    display: flex;
    justify-content: space-between;
    background: #F5F5F5;
    height: 50px;
    margin-bottom: 1rem;
}

:host ::ng-deep .bs-datepicker{
    box-shadow: 0 0 2px 0 #aaa;
    border-radius: 8px;
}
:host ::ng-deep .theme-green .bs-datepicker-head{
    background-color: #fff;
}
:host ::ng-deep .bs-datepicker-head button{
    color: #000;
}


.container-checkbox {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: normal normal bold 12px/25px Roboto;
    color: #707070;
}
  
  
  /* Create a custom checkbox */
.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 9rem;
    height: 35px;
    width: 35px;
    border: 1px solid #707070;
    border-radius: 25px;
    background-color: white;
}
.container-checkbox #checkmark-alugado{
    background-color: #B7C1BF;
}
  
.container-checkbox #check-blocked{
    background-color: #F54D63;
}
.text-block{
    font: normal normal normal 13px/10px Roboto;
}
:host ::ng-deep .p-button-danger{
    background: #F54D63;
    border-color: #F54D63;
    border-radius: 8px;
    margin-top: 1.3rem;
}
.title{
    display: flex;
    justify-content: space-between;
    background: #F5F5F5;
    height: 50px;
    margin-bottom: 1rem;
}
.grid-template-2{
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: baseline;
}
.grid-template-2 p{
    font: normal normal 300 16px/25px Roboto;
    color: #708380;
}

.colunas-detalhes{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 0 30px 20px;
}
.colunas-detalhes p{
    font: normal normal 300 16px/64px Roboto;
    color: #708380;
    padding: 0 28px;
}
.faixa{
    border-bottom: 1px solid #B7C1BF;
    opacity: 1;
    margin: 0rem 2rem 2rem;
}
.information{
    padding: 0 40px;
}
.information .informacao-atendimento{
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    color: #708380;
}
.information .contato{
    font: normal normal bold 17px/20px Roboto;
    color: #708380;
}
.photos{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.image img{
    width: 240px;
    height: 175px;
}