/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


@font-face {
    font-family: Lemon Milk;
    src: url(assets/fonts/LEMONMILK-Regular.otf);
}
body{
    overflow-x: hidden;
}

