/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

@font-face {
    font-family: Lemon Milk Regular;
    src: url(assets/fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: Lemon Milk Light;
    src: url(assets/fonts/LEMONMILK-Light.otf);
}
body{
    overflow-x: hidden;
}
body, html{
    height: 100%;
}

.pi-angle-double-left::before{
    /* color: red; */
    content: "";
    background-image: url("/assets/images/Icon_awesome-step-backward.svg");
    position: absolute;
    left: 17px;
    top: 11px;
    height: 17px;
    width: 13px;
  }
  
  .pi-angle-double-right:before{
    content: "";
    background-image: url("/assets/images/Icon_awesome-step-backward-1.svg");
    position: absolute;
    left: 17px;
    top: 11px;
    height: 17px;
    width: 13px;
  }
  
  .p-paginator-pages .p-paginator-page.p-highlight{
    background: #708380 !important;
    border-color: #E3F2FD !important;
    color: white !important;
    border-radius: 8px !important;
    height: 30px !important;
    width: 30px !important;
    min-width: 30px !important;
  }
  