<nav class="navbar navbar-expand-lg navbar-dark menu shadow">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="/assets/images/logo_topo_escura.svg" alt="logo-we-can" class="logo">
        </a>
    </div>
</nav>

<section class="container">
    <div class="col-12 text-center form-login">
        <div class="row">
            <h2>Recuperar senha</h2>
            <div class="faixa"></div>
        </div>
        <form>
            <div class="mb-2 campo-form">
                <input type="text" id="name" />
                <label for="name" class="form-label">Digite seu e-mail</label>
            </div>


            <div class="mb-2 campo-form">
                <button pButton pRipple type="button" label="Enviar"
                    class="p-button-outlined p-button-rounded p-button-login"></button>
            </div>

            <div class="mb-2 campo-form">
                <span [routerLink]="['/login']">Voltar</span>
            </div>
        </form>

    </div>
</section>

<!-- footer -->
<app-footer></app-footer>