.navbar {
    box-shadow: none !important;
}

.navbar .navbar-brand .logo {
    width: 24vw;
}

form {
    padding-bottom: 4rem;
}

.form-login {
    padding-top: 36px;
}

.form-login h2 {
    font: normal normal 300 30px/60px Lemon Milk Light;
    color: #284641;
}

.form-login .campo-form {
    position: relative;
    display: inline-block;
    margin: 20px 10px 10px;
    width: 70%;
}

.form-login .campo-form input {
    font: normal normal bold 15px/20px Roboto;
    padding: 12px;
    border: 1px solid #707070;
    width: 70%;
    border-radius: 3px;
    transition: 1s ease-in-out;
}

.form-login .campo-form label {
    font: normal normal normal 15px/20px Roboto;
    position: absolute;
    left: 9rem;
    top: 10px;
    color: #284641;
    transition: 0.5s ease;
}

.form-login .campo-form input:focus {
    border-color: #707070;
    outline: none;
}

.form-login .campo-form input:focus+label {
    font: normal normal normal 15px/20px Roboto;
    top: -20px;
    color: #284641;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

:host ::ng-deep .p-button-send {
    width: 70%;
    border-radius: 0;
    background: #F5A800;
}

:host ::ng-deep .p-button-send:enabled:hover {
    background: #fab710;
}

:host ::ng-deep .p-button-send .p-button-label {
    font: normal normal bold 17px/30px Source Sans Pro;
    color: #fff;
}

.campo-form span {
    font: normal normal bold 15px/20px Roboto;
    color: #0370FF;
    cursor: pointer;
}


/* Responsive breakpoints */
@media (min-width: 320px) and (max-width: 576px) {
    .navbar .navbar-brand .logo {
        width: 100%;
    }

    .form-login .campo-form {
        width: 100%;
    }

    .form-login .campo-form label {
        left: 3rem;
        top: 15px;
    }

    .form-login .campo-form input {
        width: 87%;
    }

    :host ::ng-deep .p-button-send {
        width: 86%;
    }
}