.reserva {
    margin-top: 8rem;
    margin-bottom: 1rem;
}

h2 {
    font: normal normal 300 30px/64px Lemon Milk Light;
    margin-bottom: 0;
}

h3 {
    font: normal normal bold 28px/75px Roboto;
}

h4 {
    font: normal normal bold 22px/75px Roboto;
}

h5 {
    font: normal normal bold 19px/75px Roboto;
    text-decoration: underline;
}


.columnDetalheTroca h3 {
    font: normal normal bold 28px/75px Roboto;
}


.columnDetalheTroca p {
    font: normal normal normal 15px/25px Roboto;
    color: #708380;
}

.columnDetalheTroca .linha {
    position: absolute;
    border-bottom: 1px solid #E3A716;
    opacity: 1;
    width: 30vw;
    top: 32rem;
}

.column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 80px;
}

.column2 {
    display: grid;
    grid-template-columns: 1fr;
}

:host ::ng-deep .cardsPanel {
    margin-top: 3rem;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    border-radius: 13px;
    margin-bottom: 2em;
    width: 100%;
    height: auto;
}

:host ::ng-deep .cardsPanel h4 {
    font: normal normal 300 20px/50px Lemon Milk Light;
}

:host ::ng-deep .cardsPanel h5 {
    font: normal normal 300 15px/0px Lemon Milk Light;
}

:host ::ng-deep .cardsPanel p {
    margin-bottom: 0;
    font: normal normal normal 15px/25px Roboto;
    color: #708380;
}

:host ::ng-deep .cardsPanel .p-card-body {
    padding: 0rem 1rem 0 0rem;
}

:host ::ng-deep .p-card-content {
    padding: 0rem 0rem 0rem;
}

:host ::ng-deep .cardDescription {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foto-imovel {
    width: 290px;
}

.icon-key {
    width: 70px;
    height: 60px;
}

.regras p {
    font: normal normal normal 14px/27px Roboto;
    ;
}

.termo {
    color: #0482FF;
    font: normal normal bold 15px/27px Roboto;
}

:host ::ng-deep .p-button-secondary {
    width: 100%;
    border-radius: 8px;
    background: #708380;
    border-color: #708380;
}

:host ::ng-deep .p-button-secondary:enabled:hover {
    background: #56717d;
    color: #ffffff;
    border-color: #56717d;
}

/* Responsive breakpoints */
@media (min-width: 320px) and (max-width: 576px) {
    hr {
        margin: 0 1rem;
        width: 90%;
    }

    .message p {
        padding: 0px 10px 10px;
        font: normal normal normal 15px/37px Roboto;
    }

    .columnDetalheTroca h5 {
        font: normal normal bold 19px/60px Roboto;
    }

    :host ::ng-deep .cardsPanel .p-card-body {
        padding: 0;
    }

    :host ::ng-deep .cardsPanel .cardDescription {
        display: block;
        padding: 0 0px 0 3px;
    }

    :host ::ng-deep .p-card-content {
        padding: 0.1rem 0.2rem 0rem;
    }

    .foto-imovel {
        width: 100%;
    }

    .form-check {
        padding-left: 2.2rem;
    }
}