<nav class="navbar navbar-expand-lg navbar-dark menu shadow">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="/assets/images/logo_topo_escura.svg" alt="logo-we-can" class="logo"
                [routerLink]="['/landing-page']">
        </a>
    </div>
</nav>

<div class="container">
    <div class="col-12 text-center">
        <div class="row">
            <h2>Cadastre seu imóvel</h2>
            <div class="faixa"></div>
        </div>
    </div>
    <div class="panelImoveis">
        <p-tabView>
            <p-tabPanel header="Dados do Imóvel">
                <form>
                    <div class="row">
                        <h5>Dados Pessoais</h5>
                    </div>

                    <div class="formgrid grid dados-pessoais">
                        <div class="field lg:col-12 md:col-12">
                            <label for="name">Título do Imóvel</label>
                            <input id="name" type="text" placeholder="Título" pInputText>
                        </div>
                        <div class="field lg:col-6 md:col-6">
                            <label for="category">Categoria</label>
                            <p-dropdown [options]="category" [(ngModel)]="selectedCategory" placeholder="Selecione"
                                optionLabel="name" [ngModelOptions]="{standalone: true}" [showClear]="true">
                            </p-dropdown>
                        </div>
                        <div class="field lg:col-6 md:col-6">
                            <label for="typeImmobile">Tipo de Imóvel</label>
                            <p-dropdown [options]="immobile" [(ngModel)]="selectedImmobile" placeholder="Selecione"
                                optionLabel="name" [ngModelOptions]="{standalone: true}" [showClear]="true">
                            </p-dropdown>
                        </div>
                        <div class="field lg:col-12 md:col-12">
                            <label for="description" type="text">Descrição</label>
                            <textarea [rows]="5" [cols]="30" placeholder="Descreva seu imóvel"
                                pInputTextarea></textarea>
                        </div>
                    </div>
                </form>
            </p-tabPanel>

            <p-tabPanel header="Localização">
                <form>
                    <div class="row">
                        <h5>Localização</h5>
                    </div>

                    <div class="formgrid grid dados-pessoais">
                        <div class="field lg:col-3 md:col-3">
                            <label for="country">País</label>
                            <p-dropdown [options]="country" [(ngModel)]="selectedCountry" placeholder="Selecione"
                                optionLabel="name" [ngModelOptions]="{standalone: true}" [showClear]="true">
                            </p-dropdown>
                        </div>

                        <div class="field lg:col-2 md:col-2">
                            <label for="cep" type="text">CEP</label>
                            <input id="cep" type="text" pInputText>
                        </div>

                        <div class="field lg:col-4 md:col-4">
                            <label for="address" type="text">Endereço</label>
                            <input id="address" type="text" pInputText>
                        </div>

                        <div class="field lg:col-3 md:col-3">
                            <label for="numberAddress" type="text">Número</label>
                            <input id="numberAddress" type="text" pInputText>
                        </div>

                        <div class="field lg:col-4 md:col-4">
                            <label for="complement" type="text">Complemento</label>
                            <input id="complement" type="text" pInputText>
                        </div>

                        <div class="field lg:col-4 md:col-4">
                            <label for="neighbourhood" type="text">Bairro</label>
                            <input id="neighbourhood" type="text" pInputText>
                        </div>

                        <div class="field lg:col-4 md:col-4">
                            <label for="city" type="text">Cidade</label>
                            <input id="city" type="text" pInputText>
                        </div>

                        <div class="field lg:col-4 md:col-4">
                            <label for="state" type="text">Estado</label>
                            <input id="state" type="text" pInputText>
                        </div>

                    </div>
                </form>
            </p-tabPanel>

            <p-tabPanel header="Comodidades">
                <form>
                    <div class="title-header">
                        <h5>Comodidades</h5>
                    </div>

                    <div class="formgrid grid dados-comodidades">

                        <div class="field lg:col-4 md:col-4">
                            <label for="localization" type="text">Localização</label>
                            <input id="localization" type="text" placeholder="Nome do país" pInputText>
                        </div>

                        <div class="field lg:col-4 md:col-4">
                            <label for="experience" type="text">Experiência</label>
                            <p-dropdown [options]="experience" [(ngModel)]="selectedExperience"
                                [ngModelOptions]="{standalone: true}" placeholder="Selecione" optionLabel="name"
                                [showClear]="true"></p-dropdown>
                        </div>
                    </div>

                    <div class="title-header">
                        <h4>Tamanho</h4>
                    </div>

                    <div class="formgrid grid">
                        <div class="field lg:col-4 md:col-4">
                            <label for="qntQuarto" type="text">Quantos quartos?</label>
                            <p-dropdown [options]="qntQuarto" [(ngModel)]="selectedQuarto" placeholder="2 quartos"
                                optionLabel="name" [ngModelOptions]="{standalone: true}" [showClear]="true">
                            </p-dropdown>
                        </div>

                        <div class="field lg:col-4 md:col-4">
                            <label for="qntQuarto" type="text">Banheiro</label>
                            <p-dropdown [options]="qntQuarto" [(ngModel)]="selectedQuarto" placeholder="2 banheiros"
                                optionLabel="name" [ngModelOptions]="{standalone: true}" [showClear]="true">
                            </p-dropdown>
                        </div>
                    </div>

                    <!-- Amenidades -->

                    <div class="title-header">
                        <h4>Amenidades</h4>
                    </div>

                    <div class="amenidades">
                        <div *ngFor="let category of categories" class="field-checkbox">
                            <p-checkbox name="group2" value="category" [value]="category"
                                [(ngModel)]="selectedCategories" [inputId]="category.name"></p-checkbox>
                            <label [for]="category.name">{{category.name}}</label>
                        </div>
                    </div>


                    <!-- Serviços -->
                    <div class="title-header">
                        <h4>Serviços</h4>
                    </div>

                    <div class="amenidades">
                        <div *ngFor="let category of categoriesServices" class="field-checkbox">
                            <p-checkbox name="group2" value="category" [value]="category"
                                [(ngModel)]="selectedCategories" [inputId]="category.name"></p-checkbox>
                            <label [for]="category.name">{{category.name}}</label>
                        </div>
                    </div>


                    <!-- Lazer -->
                    <div class="title-header">
                        <h4>Lazer</h4>
                    </div>

                    <div class="amenidades">
                        <div *ngFor="let category of categoriesLazer" class="field-checkbox">
                            <p-checkbox name="group2" value="category" [value]="category"
                                [(ngModel)]="selectedCategories" [inputId]="category.name"></p-checkbox>
                            <label [for]="category.name">{{category.name}}</label>
                        </div>
                    </div>


                </form>
            </p-tabPanel>
            <p-tabPanel header="Fotos">
                <div class="title-header">
                    <h5>Fotos</h5>
                </div>
                <div class="preview-media" data-max-image="4" *ngIf="isShow">
                    <ng-container *ngFor="let multiple of multiples">
                        <div class="photo-radio">
                            <img [src]="multiple" class="foto-imovel" />
                            <p-radioButton name="nameLabel" value="Foto Principal" [(ngModel)]="nameLabel"
                                inputId="nameLabel1"></p-radioButton>
                            <label for="nameLabel1" class="labelRadio">Foto Principal</label>
                        </div>

                    </ng-container>
                </div>
                <input id="file-input" type="file" accept="image/*" name="file-input" class="file-input__input"
                    (change)="onSelectFile($event)" multiple="multiple" style="margin-top: 30px;" />
                <label class="file-input__label" for="file-input" (click)="toggleShow()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-plus"
                        viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                    <span>Selecione</span></label>
            </p-tabPanel>

            <div class="flex justify-content-center btns-save">
                <button pButton pRipple type="button" label="Voltar" icon="pi pi-angle-left"
                    class="p-button-outlined p-button-warning p-button-save-back"></button>

                <button pButton pRipple type="button" label="Continuar" icon="pi pi-angle-right" iconPos="right"
                    class="p-button-warning save-continue" routerLink="/aguardar-aprovacao"></button>

            </div>
        </p-tabView>
    </div>
</div>