<nav class="navbar navbar-expand-lg navbar-dark menu shadow">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="/assets/images/logo_topo_escura.svg" alt="logo-we-can" class="logo"
                [routerLink]="['/landing-page']">
        </a>
    </div>
</nav>

<div class="container">
    <div class="col-12 text-center">
        <div class="row">
            <h2>Cadastre seu imóvel</h2>
            <div class="faixa"></div>
        </div>
    </div>
    <div class="panelImoveis">
        <p-tabView>
            <p-tabPanel header="Dados do Imóvel">
                <form>
                    <div class="row">
                        <h5>Dados Pessoais</h5>
                    </div>

                    <div class="formgrid grid dados-pessoais">
                        <div class="field lg:col-12 md:col-12">
                            <label for="name">Nome Completo</label>
                            <input id="name" type="text" placeholder="Título" pInputText>
                        </div>
                        <div class="field lg:col-6 md:col-6">
                            <label for="category">Categoria</label>
                            <p-dropdown [options]="category" [(ngModel)]="selectedCategory" placeholder="Selecione"
                                optionLabel="name" [ngModelOptions]="{standalone: true}" [showClear]="true">
                            </p-dropdown>
                        </div>
                        <div class="field lg:col-6 md:col-6">
                            <label for="typeImmobile">Tipo de Imóvel</label>
                            <p-dropdown [options]="immobile" [(ngModel)]="selectedImmobile" placeholder="Selecione"
                                optionLabel="name" [ngModelOptions]="{standalone: true}" [showClear]="true">
                            </p-dropdown>
                        </div>
                        <div class="field lg:col-12 md:col-12">
                            <label for="description" type="text">Descrição</label>
                            <textarea [rows]="5" [cols]="30" placeholder="Descreva seu imóvel"
                                pInputTextarea></textarea>
                        </div>
                    </div>
                </form>

                <div class="flex justify-content-center btns-save">
                    <button pButton pRipple type="button" label="Voltar" icon="pi pi-angle-left"
                        class="p-button-outlined p-button-warning p-button-save-back"></button>

                    <button pButton pRipple type="button" label="Continuar" icon="pi pi-angle-right" iconPos="right"
                        class="p-button-warning save-continue" routerLink="/register-immobile"></button>

                </div>
            </p-tabPanel>

            <p-tabPanel header="Localização">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Comodidades">
                Content 3
            </p-tabPanel>
            <p-tabPanel header="Fotos">
                Content 4
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<footer>
    <div class=" bg-footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="assets/images/logo_rodape.svg" alt="">
                </div>

                <div class="col-12">
                    <p>WeCan Imóveis Experience &copy;2022 Todos os direitos reservados</p>
                </div>
            </div>

        </div>
    </div>
</footer>